/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/
body{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	margin:25px 0px 10px 20px;
	font-weight: 400px;
	font-size: 14px;
}
.firstdiv {
	width:613px;
	height: 67px;
	margin:0px 0px 32px 0px;
}
.firstspan {
	width: 275px;
	height: 16px;
	display: block;
	margin: 0px 0px 5px 0px;
}
.firstlink {
	width: 454px;
	height: 15px;
	margin:0px 0px 32px 0px;
}
.seconddiv {
	width: 1147px;
	height: 90px;
	margin:0px 0px 32px 0px;
}
.thirddiv {
	width: 241px;
	height: 15px;
	display: block;
	margin:0px 0px 32px 0px;
	display: inline-block;
}
.firstp {
	width: 229px;
	height: 14px;
	display: inline-block;
	margin:0px 0px 32px 0px;

}
.secondspan{
	height: 17px;
	width: 498px;
	display: inline-block;
	margin: 0px 20px 0px 0px;
}

.secondlink{
height: 17px;
width: 470px;
display: inline-block;
margin: 0px 0px 32px 0px;
}
.lastspan {
	display: block;
	width: 350px;
	height: 114px;
	line-break: none;
}